body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "roboto", "helvetica";
}

.header {
  position: relative;
  height: 500px;
  width: 100%;
  background: linear-gradient(
      134.73deg,
      #006fc5 7.62%,
      rgba(88, 221, 250, 0.73) 99.32%
    ),
    linear-gradient(
      224.8deg,
      rgba(87, 249, 220, 0.25) 0%,
      rgba(190, 239, 250, 0.25) 93.86%
    );
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.nav .container {
  display: flex;
  width: 1200px;
  align-self: center;
  justify-content: space-between;
}

.nav img {
  height: 30px;
  display: block;
  margin-top: 10px;
}

.nav .links {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  line-height: 50px;
}
.nav .link {
  color: white;
  padding-left: 30px;
  text-decoration: none;
}

.nav .link:hover {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.hero .description {
  color: white;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

.hero img {
  margin-top: 40px;
}

.hero .container {
  display: flex;
  width: 600px;
  align-self: center;
  padding-top: 50px;
  flex-direction: column;
}
