body {
  margin: 0;
  padding: 0;
  font-family: "roboto", "helvetica";
  display: flex;
  flex-direction: column;
}

body.contact {
  background-color: white;
}

.contact content {
  width: 100%;
  justify-content: center;
}

content .contact {
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.mc-field-group label {
  display: block;
  margin-bottom: 3px;
  color: #333;
  font-size: 18px;
}

#mc_embed_signup {
  margin-top: 40px;
  font-size: 16px;
  background: #fdfdfd;
  border-radius: 6px;
  border: 1px solid #efefef;
}
