content {
  display: flex;
  align-self: center;
  flex-direction: row;
  padding-bottom: 20px;
}

content .sidebar {
  border-right: 1px solid #efefef;
  width: 300px;
  padding-left: 15px;
  padding-top: 70px;
}

content .features {
  flex-grow: 1;
  padding-top: 60px;
  padding-left: 100px;
}

content .features h3 {
  font-size: 36px;
  color: #212121;
}

content .features h4 {
  font-size: 26px;
  color: #414141;
}

content .features p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 25px;
  color: #636363;
  width: 700px;
}

.sidebar h3 {
  color: #626262;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;

  line-height: 28px;
  font-size: 18px;
}

ul li a {
  color: #969696;
  text-decoration: none;
}
ul li a:visited {
  color: #969696;
}

ul li a:hover {
  color: #969696;
  text-decoration: underline;
}
ul li:before {
  content: "+";
  color: #37a8ff;
  margin: 0 1em;
}
