.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 10;
}

.hero .description {
  color: white;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  padding: 0 20px;
}

.hero-description {
  display: flex;
  flex-direction: row;
  /* display: flex; */
  align-self: center;

  color: white;
  font-weight: normal;
  padding: 50px 0 30px 0px;
}

.hero h1,
.hero h2 {
  display: block;
}

.hero-description h1 {
  width: 310px;
  text-align: center;
}

.hero-description h2 {
  font-size: 18px;
  line-height: 30px;
}

.hero-description .secondary {
  flex-grow: 1;
  font-size: 18px;
  padding-left: 60px;
  padding-right: 30px;
}

.hero iframe {
  margin-top: 40px;
  align-self: center;
}

.hero .container {
  display: flex;
  max-width: 600px;
  align-self: center;
  padding-top: 50px;
  flex-direction: column;
}

@media (max-width: 900px) {
  .nav a.link.active {
    font-weight: bold;
  }

  .sidebar {
    display: none;
  }

  .hero-description h1 {
    display: none;
  }

  .hero-description h2 {
    align-self: center;
    max-width: 700px;
  }
}

@media (min-width: 900px) {
  .hero-description {
    width: 100%;
    max-width: 1200px;
  }

  .hero-description h1 {
    width: 350px;
  }

  .hero-description h2 {
    max-width: 600px;
    font-weight: 200;
  }
}
