.features {
  margin: 0 auto;
  border-bottom: 1px solid #ebebea;
  padding-top: 140px;
}

.feature-row:nth-child(odd) {
  background-color: #f7f7f7;
}

.feature-row:nth-child(even) {
  background-color: #fff;
}

.feature {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 100px;
  padding: 140px 0px;
  align-items: center;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.feature-row:nth-child(even) .feature {
  grid-template-columns: 3fr 2fr;
  grid-auto-flow: dense;
  background-color: white;
}

.feature-row:nth-child(even) .feature-content {
  grid-column-start: 2;
  grid-column-end: 3;
}

.feature-row:nth-child(even) .feature-image {
  justify-self: flex-start;
}

.feature-content {
  position: relative;
}

.feature-image {
  position: relative;
  width: 70%;
  justify-self: flex-end;
}

.feature img {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
  position: relative;
}

.feature-image::before {
  background: linear-gradient(
    90deg,
    rgba(81, 74, 93, 0.7) 0%,
    rgba(81, 74, 93, 1) 100%
  );
  content: "";
  width: 60%;
  height: 100%;
  top: -20px;
  right: -40px;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
}

.feature-image::after {
  background: linear-gradient(
    287.15deg,
    #0165e4 -130.13%,
    #04a7f0 14.67%,
    #08eefe 157.57%
  );
  content: "";
  width: 80%;
  height: 120%;
  top: -40px;
  left: -40px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

.feature-row:nth-child(even) .feature-image::before {
  background: linear-gradient(
    107.15deg,
    #0165e4 -130.13%,
    #04a7f0 14.67%,
    #08eefe 157.57%
  );
  content: "";
  width: 60%;
  height: 100%;
  top: -20px;
  right: -40px;
  border-radius: 20px;
  position: absolute;
  z-index: 2;
}

.feature-row:nth-child(even) .feature-image::after {
  background: linear-gradient(
    270deg,
    rgba(81, 74, 93, 0.7) 0%,
    rgba(81, 74, 93, 1) 100%
  );
  content: "";
  width: 80%;
  height: 120%;
  top: -40px;
  left: -40px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

.instructions {
  padding: 100px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions ol {
  font-size: 1.2em;
}

.instructions h1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.instructions .replay-logo {
  width: 1em;
  box-shadow: none;
  position: relative;
  bottom: -0.1em;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media (max-width: 800px) {
  .replay-logo {
    display: none;
  }

  .background-wrapper {
    background: linear-gradient(139.48deg, #2b2657 11.35%, #a043bb 93.71%);
  }

  .hero {
    grid-template-columns: none;
    padding: 40px 0;
  }

  .hero .hero-image img {
    transform: none;
    box-shadow: none;
  }

  .hero .hero-image {
    grid-row-start: 1;
  }

  .hero .hero-content {
    padding-inline-end: 32px;
    padding-top: 20px;
  }

  .feature,
  .feature:nth-child(even) {
    display: block;
  }

  .instructions ol {
    list-style-type: decimal;
    display: block;
  }

  .instructions img {
    display: none;
  }

  .instruction {
    padding: 0px;
    text-align: left;
  }

  .feature {
    padding: 40px 0px;
  }

  .feature-image::before,
  .feature-image::after {
    display: none;
  }

  .feature-image {
    margin: 0 auto;
  }
}

.footer {
  background: linear-gradient(139.48deg, #2b2657 11.93%, #a043bb 92.82%);
  color: white;
}

.footer img {
  display: inline-block;
}

.footer a,
.footer a:visited,
.footer h1 {
  color: white;
}
