.nav {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.nav .container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-self: center;
}

.nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav img {
  height: 30px;
  display: block;
  margin-top: 10px;
  margin-left: 30px;
}

.nav .links {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
  line-height: 50px;
  padding-right: 20px;
}

.nav .link {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 30px;
  text-decoration: none;
}

.nav .link.active {
  color: white;
}

.nav .link:hover {
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
