@font-face {
  font-family: "Camphor";
  src: url("/fonts/CamphorPro-Regular.ttf");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Metropolis-Light.woff");
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Metropolis-Bold.woff2") format("woff2");
}

html {
  font-family: "Camphor";
  color: rgb(82, 95, 127);
}

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", "helvetica";
  background-color: #f7f7f7;
}

h1,
h2,
h3 {
  font-family: "Metropolis";
  font-weight: 800;
}

p {
  line-height: 1.75em;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
      134.73deg,
      #006fc5 7.62%,
      rgba(48, 180, 250, 0.73) 99.32%
    ),
    linear-gradient(
      224.8deg,
      rgba(87, 249, 220, 0.25) 0%,
      rgba(190, 239, 250, 0.25) 93.86%
    );
}

.landing .hero .container {
  margin-bottom: -100px;
}

footer {
  border-top: 1px solid #efefef;
  width: 100%;
  height: 80px;
}

a,
a:visited {
  color: #37a8ff;
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;

  line-height: 28px;
  font-size: 18px;
}

h3 a {
  text-decoration: none;
}

h3 a:hover {
  text-decoration: underline;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

li a,
li a:visited,
li a:hover {
  color: #969696;
}

.contact li a,
.contact li a:visited,
.contact li a:hover {
  color: #19a1d7;
}

ul li:before {
  content: "+";
  color: #37a8ff;
  margin: 0 1em;
}

content {
  display: flex;
  align-self: center;
  flex-direction: row;
  padding-bottom: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 70.5%;
}

content .features .blogdate {
  padding-top: 15px;
  font-size: 16px;
  color: #636363;
}

.video-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
